/* orks differently with a bit height  and height */
body{
    color: white;
    font-size: 30px;
}

.flex-container{
    background-color: lightgray;
    /* height: 500px; */
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
}

.flex-item-1{
    width: 300px;
    height: 100px;
    background-color: blue;
}

.flex-item-2{
    width: 300px;
    height: 100px;
    background-color: purple;
}
.flex-item-3{
    width: 300px;
    height: 100px;
    background-color: red;
}

.flex-item-4{
    width: 300px;
    height: 100px;
    background-color:green;
}