/* .container {
    width: 800px;
    background: #f0f0f0;
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
    position: relative;
} */

/* Inner boxes */
/* .box-1 {
    width: 100px;
    height: 100px;
    background: lightcoral; */
    /* margin-bottom: 10px; */
/* } */


/* aboslute is root of the html element or nearest ancestor with non static poi*/
/* .box-2 {
    width: 200px;
    height: 200px;
    background: lightgreen;
    position: absolute;
    top: 10px;
    left: 200px; */
    /* margin-bottom: 10px; */
/* }

.box-3 {
    width: 300px;
    height: 300px;
    background: black;
} */
 /* Z index */
.container {
    width: 800px;
    background: #f0f0f0;
    padding: 20px;
    margin-left: 100px;
    margin-top: 100px;
    /* position: relative; */
}

/* Inner boxes */
.box-1 {
    width: 100px;
    height: 100px;
    background: lightcoral;
}


/* aboslute is root of the html element or nearest ancestor with non static poi*/
.box-2 {
    width: 200px;
    height: 200px;
    background: lightgreen;
    position: relative;
    top: 20px;
    /* position: sticky;
    top: 100px; */
    /* margin-bottom: -80px; */
    /* margin-top: -50px; */
    z-index: 1;
}

.box-3 {
    width: 300px;
    height: 300px;
    background: black;
    position: relative;
    z-index: 2;
}

.child-1{
    height: 50px;
    width: 150px;
    background-color: red;
    position: relative;
    z-index: 1;
}
.child-2{
    height: 50px;
    width: 150px;
    background-color: blue;
    position: relative;
    bottom: 20px;
}
