*{
    padding: 0;
    margin: 0;
}
.main-container{
    height: 800px;
    background-color: lightblue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-card{
    display: flex;
    flex-direction: column;
    gap:20px;
    width: 300px;
    /* height: 400px; */
    background-color: white;
    border-radius: 10px;
    align-items: center;
    padding: 20px;

}
.social-icons{
    display: flex;
    gap:10px;
}
