/* 
---------TYPOGRAPHY-----------
FONT SIZES 
12px,16px,20px,254px,32px,40px,48px,60px

FONT WEIGHT
400/700

LINE HEIGHT
1.2/1.5

LETTER SPACING 
0,-2

FONT FAMILY 
Poppins

----------COLOR--------------
PRIMARY
Base: #339af0
(Sky Blue)
Tint: #debff
(Arctic)
Shade: #1c7ed6
(Deep Sea)
SECONDARY
Base: #9775fa
Lavendar)
Tint: #e5dbff
(Moonligh Iris)
Shade: #7048e8
(Velvet Night)
TERTIARY
Base: #ff922b
(Pumpkin)
Tint: #ffe8cc
(Dawn)
Shade: #f76707
(Lava)
GREY
Base: #495057
(Slate)
Tint: #f1f3f5
(Pebble)
Shade: #212529
(Graphite)
white
black #000000


*/

/* -------- SPACING SYSTEM ------------- */

/* ---------------GLOBAL STYLES --------------- */

:root{
    /* ----FONT-SIZE ---- */
    --text-sm:1.2rem;
    --text-base:1.6rem;
    --text-paragraph:2.0rem;
    --text-h5:2.4rem;
    --text-h4:3.2rem;
    --text-h3:4.0rem;
    --text-h2:4.8rem;
    --text-h1:6.2rem;

    /* ----FONT-WEIGHT--- */
    --font-weight-normal:400;
    --font-weight-bold:700;

    /* ----LINE HEIGTHS----- */
    --line-height-light:1.2;
    --line-height-normal:1.5;

    /* ----LETTER-SPACING--- */
    --letter-spacing-light:-2px;

    /* ----FONT-FAMILY--- */
    --font-family: "Poppins",sans-serif;

    /* ----COLORS--- */
    --primary-base: #339af0;
    --primary-tint: #d0ebff;
    --primary-shade: #1c7ed6;
    --secondary-base: #975fae;
    --secondary-tint: #e5dbff;
    --secondary-shade: #7a48e8;
    --tertiary-base: #ff922b;
    --tertiary-tint: #ffebcc;
    --tertiary-shade: #f76707;
    --grey-base: #495057;
    --grey-tint: #f1f3f5;
    --grey-shade: #212529;
    --white: #ffffff;
    --black: #000000;

    /* --miscellaneous */
    --nav-height:100px

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--grey-base);
    line-height: var(--line-height-normal);
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 90%;
}

h1,h2,h3,h4,h5{
    font-weight: var(--font-weight-bold);
    line-height: var(--line-height-light);
    letter-spacing: var(--letter-spacing-light);
    color: var(--grey-shade);
}


h1{
    font-size: var(--text-h1);
}

h2{
    font-size: var(--text-h2);
}

h3{
    font-size: var(--text-h3);
}

h4{  
    font-size: var(--text-h4);
}

h5{
    font-size: var(--text-h5);
}
/* p,a,.small-text{
    font-weight: 400 ;
    color: #495057;
    line-height: 1.2;
} */


p{
    font-size: 2.0rem;
}

a{
    text-decoration: none;
    font-size: var(--text-base);
    display: inline-block;

}

span{
    display: inline-block;
}

ul{
    list-style: none;
}

/* #green-text{
    color: green;
} */

.small-text{
    font-size: var(--text-sm);
}

/* .orange-text{
    color: orange;
}

.pop-text{
    color: red;
    font-weight: 900;
    text-decoration: underline red solid;
} */




/* ---------------COMPONENTS --------------- */



.btn{
    font-size: var(--text-base);
    text-decoration: none;
    padding: 1.5rem 3.0rem;
    border-radius: 8px;
}

.btn-primary:link,.btn-primary:visited{
    color: var(--white);
    background-color: var(--primary-base);
    border: 2px solid var(--primary-base);

}


.btn-primary:hover,.btn-primary:active{
    color: var(--white);
    background-color: var(--primary-shade);
    border: 2px solid var(--primary-shade);
    
}


.btn-primary-outline:link,.btn-primary-outline:visited{
    color: var(--primary-base);
    background-color: var(--white);
    border: 2px solid var(--primary-base);

}

.btn-primary-outline:hover,.btn-primary-outline:active{
    color: var(--primary-shade);
    background-color: var(--white);
    border: 2px solid var(--primary-shade);
}

.btn-secondary:link,.btn-secondary:visited{
    background-color:var(--secondary-base);
    color: var(--white);
    border: 2px solid var(--secondary-base);
}

.btn-secondary:hover,.btn-secondary:active{
    color: var(--white);
    background-color: var(--secondary-shade);
    border: 2px solid var(--secondary-shade);
}

.highlight{
    color: var(--white);
    padding: 0.5rem 1.0rem;
    border-radius: 4px;
}

.highlight-primary{
    background-color: var(--primary-base);
}

.highlight-secondary{
    background-color:var(--secondary-base);
}
.highlight-tertiary{
    background-color: var(--tertiary-base);
}

.logo-md{
    width: 100px;
}

.logo-sm{
    width: 80px;
}


/* --------------- SECTIONS --------------- */

/* ----HEADER SECTION ------ */
/* .header{
    height: 100vh;
    min-height: 800px;
} */


/* ----NAVBAR SECTION ------ */
.navbar{
    height: var(--nav-height);
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* margin-bottom: 20rem; */
}

.nav-btn-container{
    display: flex;
    gap: 2rem;

}


/* ----HERO SECTION ------ */

.hero-section{
    height: calc(100vh - var(--nav-height));
    min-height: 400px;
    margin-bottom: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    margin-bottom: 1rem;
    text-align: center;
}

.hero-paragrapgh{
    margin-bottom: 5rem;
    
}

.hero-btn-container{
    display: flex;
    gap: 2rem;
}


/* ----FEATURES SECTION ---------- */
.features-section{
    margin-bottom: 30rem;
}


.features-main-heading{
    text-align: center;
    margin-bottom: 8rem;
}
.feature-img{
    max-width:  400px;
    width: 100%;
}

.features-heading{
    margin-bottom: 2rem;
}


/* ----CTA SECTION ------ */

.CTA-section{
   margin-bottom: 30rem;
    display: flex;
    justify-content: center;

}

.CTA-card{
    text-align: center;
    background-color: var(--primary-base);
    max-width: 1000px;
    padding: 10rem 20rem ;
    border-radius: 20px;
    /* margin: 0 auto; */
}

.CTA-heading{
    margin-bottom: 3rem;
}

/* ----FOOTER SECTION ------ */

.footer{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.social-icons{
    width: 20px;
}

.social-icons-container{
    display: flex;
    gap: 1.5rem;
}

.footer-links-container{
    display: flex;
    gap: 1rem;
}



