/*  LG -SMALL LAPTOPMS 1024-1288PX */

@media(max-width:72rem){
    /* 11250px / 16px = 72 rem */
    html{
        /* 9px/16px */
        font-size: 56.25%;
    }
    .features-grid-container{
        column-gap: 2rem;
    }
    .CTA-section{
        margin-bottom: 20rem;
    }

}


/*  MD-SMALL TABLETS 768-1024PX */

@media(max-width:51rem){
    /* 850px/16px 51=rem */

    html{
        /* 8px/16px */
        font-size: 50%;
    }

}

/*  SM - PHONES IN LANDSCAPE 576-768PX */
@media(max-width:43rem){
    /* 680px/16px = 43rem*/
    html{
        /* 7px/16px */
        font-size: 43.75%;
    }
    .CTA-card{
        padding: 8rem 16rem;
    }

    .features-section{
        margin-bottom: 20rem;
    }
    .features-grid-container{
        row-gap: 5rem;
        column-gap: 0.5rem;
    }
}

/*  XSM Phone in portrait <576px */

@media(max-width:34rem){
    /* 34 rem*/
    html{
        /* 6px/16px */
        font-size: 37.5%;
    }

    .hero-heading-break{
        display: none;
    }

    .hero-section{
        height: auto;
    }

    .features-grid-container{
        row-gap: 5rem;
        column-gap: 0.5rem;
        grid-template-columns: 1fr;
    } 
    .feature-img-swap-order{
        grid-row: auto;
        grid-column: auto;
    }
    .CTA-card{
        padding: 8rem 6rem;
    }
}

