/* p::first-letter{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
} */


/* p::first-line{
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
} */


/* p::selection{
    color: red;
} */

h1::after{
    content: "Beta";
    font-size: 20px;
    color: purple;
}