*{
    padding: 0;
    margin: 0;
}

.box1{
    max-width:  1000px;
    height: 400px;
    background-color: lightblue;
}
.box2{
    width: 1000px;
    max-height: 400px;
    background-color: lightsalmon;
    overflow: scroll;
}
/* overflow controls whats cut off */