.box-1{
    height: 300px;
    width: 300px;
    background-color: blue;

}
.box-2{
    height: 300px;
    width: 300px;
    background-color: pink;
    position: absolute;
}
.box-3{
    height: 300px;
    width: 300px;
    background-color: green;
    position: relative;
}