/* li:first-child{
    color: red;
}

li:last-child{
    color: blue;
} */

/* li:nth-child(3){
    color: pink;
} */
/* li:nth-child(2n){
    color: pink;
} */
li:nth-child(2n+1){
    color: pink;
}

