 /* WITH BOX-MODEL */
/* *{
    margin: 0;
    padding: 0;
}

.parent-container{
    background-color: lightblue;
}
.child-container{
    background-color: blue;
    height: 300px;
    width: 300px;
    /* margin: 0 auto; 
}  */

/* WITH FLEX-BOX*/

/* *{
    margin: 0;
    padding: 0;
}

.parent-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.child-container{
    background-color: blue;
    height: 300px;
    width: 300px;
    /* margin: 0 auto; 
} */
 /* WITH BOX-MODEL padding*/

/* *{
    margin: 0;
    padding: 0;
} */

/* .parent-container{ */
    /* background-color: lightblue; */
    /* display: flex;
    flex-direction: column;
    align-items: center; */
/* } */
/* .child-container{
    background-color: blue;
    height: 300px;
    width: 300px;
    margin: 0 auto; 
    padding: 0 200px;
}  */
/* *{
    margin: 0;
    padding: 0;
} */

/* WITH BOX-MODEL veritacally cetering with heo=igth */

.parent-container{
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 800px;
    justify-content: center;
}
.child-container{
    background-color: blue;
    height: 300px;
    width: 300px;
    /* margin: 0 auto; 
    padding: 0 200px; */
} 
